<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My Blog</a></h1>
        </header>

        <article>
            <time>published: 05.06.2024, 12:04</time>
            <h2><a href="">My first post</a></h2>
            <p>lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum </p>
        </article>

        <article>
            <time>published: 05.06.2024, 12:04</time>
            <h2><a href="">My second post</a></h2>
            <p>lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum </p>
        </article>
    </body>
</html>